# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes = **/lemminx-liberty/src/it **/lemminx-liberty/src/test **/liberty-ls/src/test